.topics-container {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header-section {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.topics-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  margin: 2rem;
  justify-content: center;
}

.card {
  display: flex;
  min-width: 14rem;
  height: 8rem;
  transition: transform 300ms;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 5px #33333330;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  cursor: pointer;
  transition: transform 300ms; 
  transition: border 300ms;
}

.card:hover {
  transform: scale(1.01);
  opacity: 1;
  border: 2px solid rgba(162, 54, 11);
}

.card-body {
  margin: 1rem;
  flex-grow: 1;
}

.card-category {
  color: #333;
  font-weight: 700;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card-user {
  display: flex;
  color: #333;
  font-weight: 700;
}

.card-desc-questions {
  display: flex;
  color: #999;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4rem;
  margin-top: 0.5rem;
}

.card-desc-persons {
  font-size: 14px;
  line-height: 1.4rem;
}

.trend-category {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  padding: 3px 8px;
  background-color: #31995ccc;
  border-radius: 7px;
  margin-left: auto;

}

@media screen and (min-width: 600px) {
  .topics-section {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }


  /* .topic-card {
    width: 90%;
  } */
}


/* @media screen and (max-width: 480px) {
  .topics-section {
    grid-template-columns: 1fr 1fr;
  }
} */