.loading {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: auto;
  max-width: 1200px;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  margin: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 2px solid rgb(162, 54, 11);
  flex-grow: 1;
  transition: transform 200ms;
  box-shadow: 0px 0px 3px #33333330;
}

.tags-section {
  display: flex;
  align-items: flex-start;
}

.name-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

.category {
  font-size: 12px;
  color: rgb(162, 54, 11);
  padding: 3px 10px;
  margin: 10px 10px;
  background-color: #e03d3120;
  border-radius: 7px;
}

.trend-category {
  display: flex;
  font-size: 12px;
  color: #fff;
  padding: 3px 10px;
  margin: 10px 5px;
  background-color: #31995ccc;
  border-radius: 7px;
  transition: 300ms;
}

.trend-category:hover {
  background-color: #1b8d4a;
  box-shadow: 0px 0px 10px #31995c8e;
}

.questionId-section {
  display: flex;
}

.questionId {
  font-size: 12px;
  color: rgb(162, 54, 11);
  padding: 3px 10px;
  margin: 10px 5px;
}

.meta {
  display: flex;
  font-size: 13px;
  color: gray;
  line-height: 18px;
  margin-bottom: 20px;
}

.question {
  color: #333;
  padding-bottom: 20px;
}