.mainContainer{
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 960px;
}
.propertyContainer{
    width: 600px;
    box-shadow: 0 0 2px 2px lightgrey;
    border: solid 1px grey;
    margin: 10px 0px;
}
.propertyContainer:hover,
.filterSearchBarButton:hover{
    background-color:rgba(218, 218, 218, 0.836);
    cursor: pointer;
}
.propertyCard{
    line-height: 24px;
    display:flex;
    flex-direction:column;
    width: 600px;
    padding: 10px 10px;
}
.horizontalContainer{
    font-size: 14px;
    height: 23px;
    display:flex;
    flex-direction: row;
}
.agentCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 600px;
    padding: 10px;
    border-top: solid 1px rgb(150, 150, 150);
}
.image{
    width: 598px;
    height: 480px;
    position: relative;
    object-fit: contain;
}
.whatsappButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 13px;
    align-self: center;
    width: 150px;
    border: solid 1px grey;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.whatsappButton:hover{
    background-color: #128c7e;
    color: white;
}
.sidebar{
    width: 300px;
    margin-top: 29px;
    margin-left: 20px;
    box-shadow: 0 0 2px 2px lightgrey;
    height: 500px;
    display:flex;
    flex-direction: column;
}
.sidebarSpecificProperty{
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}
.sidebarSpecificProperty > p{
    height: 24px;
    line-height: 24px;
}
.icon{
    object-fit: contain;
    height: 15px;
    width: 15px;
    margin: auto 10px auto 5px;
}
.propertyCard > p,
.propertyCard > div{
    height: 24px;
    margin: 2px;
}
.propertyCard > div > p{
    margin-right: 10px;
}
.fontLargeBold{
    font-weight: 600;
    font-size: 16px;
}
.fontSmall{
    font-size: 14px;
}
.availability{
    padding-left: 10px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
}
.filterSearchBar{
    box-shadow: 0 0 2px 2px lightgrey;
    width: 960px;
    margin: 0px auto 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 50px;
    top: 54px;
    background-color: white;
    padding: 10px;
    z-index: 2;
}
.filterSearchBarButton{
    font-size: 13.33px;
    cursor: pointer;
    margin: auto;
    height: 28px;
    line-height: 28px;
    padding: 0px 15px;
    border: solid 1px black;
    border-radius: 10px;
}
.searchBar{
    border-radius: 10px;
    border: solid 1px black;
}
.clearButton{
    border: solid 1px black;
    margin:auto;
    cursor: pointer;
    border-radius: 10px;
    line-height: 24px;
    padding: 0px 10px;
    background-color:rgba(218, 218, 218, 0.836);
    color: blue;
}
.clearButton:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color:rgba(218, 218, 218, 0.836);
    color: blue;
}
.horizontalContainerPopup{
    justify-content: space-evenly;
    display:flex;
    flex-direction: row;
}
.horizontalContainerPopupFixed{
    border-top: solid 1px black;
    background-color: lightgrey;
    justify-content: space-evenly;
    padding: 10px 0px 10px;
    display:flex;
    flex-direction: row;
    position: sticky;
    bottom: 0px;
}
.popupCards{
    border-bottom: solid 1px grey;
    padding: 10px;
}
.selected{
    cursor: pointer;
    margin: auto;
    height: 28px;
    line-height: 24px;
    padding: 0px 15px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: Orange;
}
.applyFilter{
    margin:auto;
    display:flex;
    justify-content: center;
    width: 25%;
    color: white;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    padding: 0px 15px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: blue;
}
.input,
.input:focus{
    font-size: 16px;
    background-color: white;
    margin: 0px 10px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px;
}
.inputLabel{
    font-size: 16px;
    line-height: 61px;
}
.detailsContainer{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.detailsCard{
    width: 45%;
    margin: 0px 20px 0px 0px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    border-bottom: dotted 1px grey;
}
.detailsCard > p{
    margin: 3px;
}
.detailsHead{
    color:rgb(150, 150, 150);
    font-size: 14px;
}
.specificPropertyContainer{
    width: 600px;
}
.price{
    font-size: 36px;
    margin: 20px;
    margin-left: 10px;
}
.horizontalContainerSpecificProperty{
    font-size: 20px;
    margin: 20px;
    margin-left: 10px;
    height: 23px;
    display:flex;
    flex-direction: row;
}
.submitContactButton{
    margin: auto;
    background-color: rgb(204, 17, 17);
    border-radius: 10px;
}
.contactForm{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}
.whatsappButtonSpecificProperty{
    margin:auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 13px;
    align-self: center;
    width: 150px;
    border: solid 1px grey;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.whatsappButtonSpecificProperty:hover{
    background-color: #128c7e;
    color: white;
}
.stickySidebar{
    background-color: lightgrey;
    height: 448px;
    position: sticky;
    top:147px;
}
.CRUDButton{
    font-size: 13px;
    margin: auto 10px;
    height: 30px;
    line-height: 13px;
}
.button{
    width: 30%;
    font-size: 13px;
    line-height: 13px;
    margin-right: 15px;
}
.deletePopup{
    display:flex;
    flex-direction: column;
}
.editPopup{
    display:flex;
    flex-direction: column;
}
.editPopup > div > p{
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
}
.editPopup > div{
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
}
.editInput{
    font-size: 16px;
    background-color: white;
    margin: 0px 10px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.sidebarImage{
    width: 300px;
}
.sidebarButtons{
    margin: 10px 10px 0px;
    border-radius: 10px;
}
.sidebarButtons:hover{
    background-color: grey;
    color: white;
}
.homepageImageContainer{
    display:flex;
    justify-content: center;
    width: 960px;
    height: 500px;
    margin:auto;
}
.homepageImage{
    margin: auto;
    object-fit: contain;
    padding:auto;
    height: 500px;
}
.linkContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    margin:auto;
    background-color: black;
    height: 150px;
    position: relative;
    top: -200px;
    opacity: 0.8;
    z-index: 1;
}
.links{
    width: 30%;
    color: white;
    background-color: red;
}
.horizontal{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -150px;
}
.imageButtonPrev{
    position: relative;
    top: -255px;
    height: 30px;
    width: 30px;
    z-index: 1;
}
.imageButtonNext{
    position: relative;
    top: -255px;
    height: 30px;
    width: 30px;
    z-index: 1;
}
.avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
