.mainContainer{
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 960px;
}
.propertyContainer{
    width: 600px;
    box-shadow: 0 0 2px 2px lightgrey;
    border: solid 1px grey;
    margin: 10px 0px;
}
.propertyContainer:hover,
.filterSearchBarButton:hover{
    background-color:rgba(218, 218, 218, 0.836);
    cursor: pointer;
}
.propertyCard{
    line-height: 24px;
    display:flex;
    flex-direction:column;
    width: 600px;
    padding: 10px 10px;
}
.horizontalContainer{
    font-size: 14px;
    height: 23px;
    display:flex;
    flex-direction: row;
}
.agentCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 600px;
    padding: 10px;
    border-top: solid 1px rgb(150, 150, 150);
}
.image{
    width: 598px;
}
.whatsappButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 13px;
    align-self: center;
    width: 150px;
    border: solid 1px grey;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.whatsappButton:hover{
    background-color: #128c7e;
    color: white;
}
.sidebar{
    width: 340px;
    margin-left: 20px;
    border: solid 1px black;
}
.icon{
    object-fit: contain;
    height: 15px;
    width: 15px;
    margin: auto 10px auto 5px;
}
.propertyCard > p,
.propertyCard > div{
    height: 24px;
    margin: 2px;
}
.propertyCard > div > p{
    margin-right: 10px;
}
.fontLargeBold{
    font-weight: 600;
    font-size: 16px;
}
.fontSmall{
    font-size: 14px;
}
.availability{
    padding-left: 10px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
}
.filterSearchBar{
    box-shadow: 0 0 2px 2px lightgrey;
    width: 960px;
    margin: 0px auto 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 50px;
    top: 54px;
    background-color: white;
    padding: 10px;
}
.filterSearchBarButton{
    margin: auto;
    height: 28px;
    line-height: 24px;
    padding: 0px 15px;
    border: solid 1px black;
    border-radius: 10px;
}
.searchBar{
    border-radius: 10px;
    border: solid 1px black;
}
