@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap);

:root {
  --pri-color: #e13c30;
  --pri-dark: rgb(162, 54, 11);
  --pri-light: #f5574c;
  --pri-lightest: #ff8e86;
  --sec-color: #007985;
  --sec-lightest: #aaf8ff;
  --sec-light: #00afbf;
  --sec-dark: #00484e;
  --dark-grey: #343a40;
  --grey-color: #343a40;
  --grey-lightest: #f8f9fa;
  --grey-light: #e9ecef;
  --grey-color: #868e96;
  --grey-dark: #343a40;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: fff;
  color: var(--grey-dark);
  margin-top: 60px;
  overflow-x: hidden;
}

.container {
  padding: 10px 20px;
  margin: auto;
}

button {
  border: 1px solid var(--sec-mid);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: var(--sec-dark);
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--sec-light);
  color: var(--sec-mid);
  transition: all 0.3s ease;
}

button:disabled {
  background-color: var(--grey-light);
  color: var(--grey-color);
  border: 1px solid var(--grey-lightest);
  cursor: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--pri-color);
  transition: all 0.3s ease;
}

a:hover,
a:active {
  color: var(--sec-color);
  transition: all 0.3s ease;
}

label {
  font-weight: 500;
}

input {
  border: 1px solid var(--pri-light);
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 2px;
  color: var(--dark-grey);
}

input:focus {
  background-color: var(--sec-light);
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--pri-color);
  font-weight: 700;
}

h1 {
  color: var(--pri-dark);
  margin-bottom: 10px;
}
